---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import MissionVision from '../components/MissionVision.astro';
import CallToAction from '../components/CallToAction.astro';

const description = "Christ Classical Academy is a classical Christian school initiative in Manhattan, Kansas providing education rooted in tradition, truth, and excellence.";
const image = "https://images.unsplash.com/photo-1591585214068-50dca1a2ef14?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
---

<Layout 
  title="Classical Christian School" 
  description={description}
  image={image}
>
  <Hero />
  
  <section class="py-8 bg-royal-purple/10">
    <div class="container mx-auto">
      <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-3xl font-bold mb-6 text-hunter-green font-serif">Dear Brothers and Sisters in Christ,</h2>
        <div class="prose prose-lg max-w-none text-gray-700">
          <p class="mb-4">
            As our community grows and our world changes, the importance of fostering thoughtful, virtuous, and well-rounded young people has never been clearer. The Members of Christ Lutheran Church see that today's families seek not only academic excellence but an education rooted in timeless truths and integrity for their children.
          </p>
          <p class="mb-4">
            With this in mind, I am thrilled to announce Christ Classical Academy, a new classical Christian school grounded in the Lutheran tradition, dedicated to instilling wisdom, virtue, and a love of Christ in future generations.
          </p>
          <p class="mb-4">
            The members of Christ Lutheran Church unanimously voted in January 2025 to establish the school and kick off fundraising efforts toward $200,000 with the goal of starting the school year in August of 2026.
          </p>
          <p class="mb-4">
            This school will serve as a place of refuge and inspiration for families who value a time-honored approach to learning, a place where students engage daily with rich literature, explore the natural world, and practice the art of thoughtful discourse. Through this model, Christ Classical Academy seeks to nurture young minds in a way that is rigorous, rooted in tradition, and relevant to the world today.
          </p>
          <p class="mb-8">
            Together, we can build an educational institution that will serve our community and future generations for years to come.
          </p>
          <p class="font-medium">In Christ,</p>
          <p class="font-medium">Rev. James Woelmer</p>
        </div>
      </div>
    </div>
  </section>
  
  <MissionVision />
  <CallToAction />
</Layout>